body {
    background: linear-gradient(135deg, red, blue);
}
.invisible {
    display: none;
}
.visible {
    display: inline-block;
}
.functions {
    text-decoration: underline #E8302B;
}
div#sommaire h1{
    margin-top: 5%;
    text-align: center;
    color: white;
}
div.level a {
    text-decoration: none;
    width: 7%;
    padding-left: 2%;
}
div.level p.p_print{
    margin-top: 3%;
    padding-left: 1%;
    width: 7%;
    margin-left: 4%;
    color: white;
    font-size: 130%;
}
div#lvl1 p.p_print{
    border-left: solid 3px green;
}
div#lvl2 p.p_print{
    border-left: solid 3px yellow;
}
div#lvl3 p.p_print{
    border-left: solid 3px orange;
}
div#lvl4 p.p_print{
    border-left: solid 3px red;
}
div.level p.case {
    border: solid 2px black;
    width: 5%;
    margin-left: 4%;
}
div.level:hover::after{
    transition: all 2s;
}

h1.title_level {
    margin-top: 3%;
    text-decoration: underline #E8302B;
	text-align: center;
}
.check {
    text-decoration: underline rgb(87, 182, 87);
    margin-top: 7%;
	text-align: center;
}
p.text_level {
    padding: 0.5%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 25px;
    font-weight: bold;
    border-left: solid 5px #2b67e8;
}
p.button_next {
    margin-top: 5%;
    margin-left: 90%;
    border: solid 3px black;
    width: 8%;
    padding: 0.5%;
    font-size: 120%;
    color: white;
    background-color: grey;
}
a.button_next {
    text-decoration: none;
    color: white;
}
button.button_lvl {
    margin-top: 10%;
    margin-left: 5%;
    border-left: solid 10px #2b67e8;
}
p.button_come_back {
    margin-top: 5%;
    border: solid 3px black;
    width: 6%;
    padding: 0.5%;
    font-size: 120%;
    color: white;
    background-color: rgb(161, 48, 48);
}
a.button_come_back {
    font-size: 120%;
    color: white;
    background-color: rgb(161, 48, 48);
    text-decoration: none;
}
a.code_secret {
    color: white;
    background-color: white;
}
